@mixin burger {
  content: '';
  position: absolute;
  height: 3px;
  background: set-text-color($primary-color);
  @include transition-ease;
}

.menu-btn {
  position: absolute;
  z-index: 100;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  @include transition-ease;

  &__burger {
    top: 0.5rem;
    width: 28px;

    @include burger;

    &::before {
      top: -8px;
      width: 28px;

      @include burger;
    }
    &::after {
      top: 8px;
      width: 20px;
      @include burger;
    }

    &.open {
      transform: rotate(720deg);
      background: transparent;

      &::before {
        transform: rotate(45deg) translate(5px, 8px);
      }
      &::after {
        width: 28px;
        transform: rotate(-45deg) translate(3px, -7px);
      }
    }
  }
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.98;
  visibility: hidden;
  z-index: 40;

  &.open {
    visibility: visible;
  }

  .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background: $primary-color;
    list-style-type: none;
    padding-right: 1rem;
    transform: translateY(-100%);

    @include transition-ease;

    &.open {
      transform: translateY(0);
      height: 100vh;
    }

    &__item {
      padding: 1rem 0;
      font-size: 2rem;
      transform: translateX(100vw);
      @include transition-ease;

      &.open {
        transform: translateX(0);
      }
    }

    &__link {
      @include transition-ease;

      &.active {
        color: $secondary-color;
      }

      &:hover {
        color: $secondary-color;
        @include transition-ease;
      }
    }
  }
}

@for $i from 1 through 4 {
  .menu-nav__item:nth-child(#{$i}) {
    transition-delay: ($i * 0.1s) + 0.15s;
  }
}
